<p id="notice"><%= notice %></p>

<h1>トレーニング器具一覧</h1>
<a href="http://ginpen.com/2011/11/28/ajax-on-rails/">ajaxのCRUD参考サイト</a>
<div id="equipments">
  <% @equipment.each do |equipment| %>
    <%= render 'show' , equipment: equipment %>
  <% end %>
</div>

<br/>

<h1> トレーニング器具 追加 </h1>
<%= render 'form2' , equipment: @new_equipment, submit_text: '新規' %>


