<h1>トレーニング分析</h1>
<p> 目標設定までの推移とか。場所、部位等のトレーニング量のバランス </p>
<div id="chart_in_gym">
<%= high_chart("chart_in_gym", @chart_gym) %>
</div>
<div id="chart_in_home">
<%= high_chart("chart_in_home", @chart_home) %>
</div>
<div id="chart_pie_parts">
  <%= high_chart("pie_chart_parts", @chart_pie_parts) %>
</div>
<div id="chart_pie_place">
  <%= high_chart("pie_chart_place", @chart_pie_place) %>
</div>
