<h1>トレーニング分析</h1>

<p>
ここにBIG3の推移のグラフ
</p>

<p>
目標設定までの推移とか。バラんすの円グラフと、チャートとかとか
</p>


<div id="big3chart">
<%= high_chart("bar_chart", @graph) %>
</div>

<div id="big3">
  <%= high_chart("pie_chart", @graph_pie) %>
</div>
