<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><i class="fa fa-home">H.S.Training Note</i></a>
      <a class="navbar-brand" href="/analysis/dash_bord"><i class="fa fa-tachometer"></i></a>
      <a class="navbar-brand" href="/pages"><i class="fa fa-book"></i></a>
      <a class="navbar-brand" href="/analysis"><i class="fa fa-bar-chart"></i></a>
      <a class="navbar-brand" href="/items"><i class="fa fa-gavel"></i></a>
      <a class="navbar-brand" href="/trainings"><i class="fa fa-database"></i></a>
      <a class="navbar-brand" href="https://github.com/HideakiSaito/r1"><i class="fa fa-git"></i></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/trainings">memo</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">マスタ設定 <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/modes">トレーニング方式</a></li>
            <li><a href="/equipment">トレーニング器具</a></li>
            <li><a href="/parts">トレーニング部位</a></li>
            <li class="divider"></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

