<div class="alert alert-success" >
  <strong>Recommend!</strong><br> 
  <%= @latest_page.date.strftime("%Y/%m/%d(%a)") %>:<%= @latest_page.place %> 
  の トレーニングお疲れ様でした。
  <br><%= @recommend_1 %>
</div>
<div class="alert alert-info">
  <strong>Greeting!</strong><br>
  <%= @greeting %> 
</div>
