<div  style="text-align: center">
  <div style="text-align: left;">
    <h1 style="font-weight: normal" >このサイトについて </h1>
  </div>

  <article  class="pagination" style="text-align: left;"
itemprop="text"><h2><a id="user-content-awesome-name" class="anchor" href="#awesome-name" aria-hidden="true"><svg aria-hidden="true" class="octicon octicon-link" height="16" role="img" version="1.1" viewBox="0 0 16 16" width="16"><path d="M4 9h1v1h-1c-1.5 0-3-1.69-3-3.5s1.55-3.5 3-3.5h4c1.45 0 3 1.69 3 3.5 0 1.41-0.91 2.72-2 3.25v-1.16c0.58-0.45 1-1.27 1-2.09 0-1.28-1.02-2.5-2-2.5H4c-0.98 0-2 1.22-2 2.5s1 2.5 2 2.5z m9-3h-1v1h1c1 0 2 1.22 2 2.5s-1.02 2.5-2 2.5H9c-0.98 0-2-1.22-2-2.5 0-0.83 0.42-1.64 1-2.09v-1.16c-1.09 0.53-2 1.84-2 3.25 0 1.81 1.55 3.5 3 3.5h4c1.45 0 3-1.69 3-3.5s-1.5-3.5-3-3.5z"></path></svg></a>Awesome-name</h2>

    <p>トレーニング管理アプリ</p>

    <h2><a id="user-content-description" class="anchor" href="#description" aria-hidden="true"><svg aria-hidden="true" class="octicon octicon-link" height="16" role="img" version="1.1" viewBox="0 0 16 16" width="16"><path d="M4 9h1v1h-1c-1.5 0-3-1.69-3-3.5s1.55-3.5 3-3.5h4c1.45 0 3 1.69 3 3.5 0 1.41-0.91 2.72-2 3.25v-1.16c0.58-0.45 1-1.27 1-2.09 0-1.28-1.02-2.5-2-2.5H4c-0.98 0-2 1.22-2 2.5s1 2.5 2 2.5z m9-3h-1v1h1c1 0 2 1.22 2 2.5s-1.02 2.5-2 2.5H9c-0.98 0-2-1.22-2-2.5 0-0.83 0.42-1.64 1-2.09v-1.16c-1.09 0.53-2 1.84-2 3.25 0 1.81 1.55 3.5 3 3.5h4c1.45 0 3-1.69 3-3.5s-1.5-3.5-3-3.5z"></path></svg></a>Description</h2>

    <p>トレーニングのPDCAサイクルをそこそこサポートします。
    テンプレートを利用して簡単にトレーニング記録を可能にします。
    筋力の推移をチャートで確認することでオーバーロードの原則に沿ったトレーニングを可能にします。</p>

    <p><a href="https://camo.githubusercontent.com/dba44f7e2b41917d954d7c3a6df3c64bd87f0143/68747470733a2f2f696d6167652d75726c2e676966" target="_blank"><img src="https://camo.githubusercontent.com/dba44f7e2b41917d954d7c3a6df3c64bd87f0143/68747470733a2f2f696d6167652d75726c2e676966" alt="Demo" data-canonical-src="https://image-url.gif" style="max-width:100%;"></a></p>

    <h2><a id="user-content-features" class="anchor" href="#features" aria-hidden="true"><svg aria-hidden="true" class="octicon octicon-link" height="16" role="img" version="1.1" viewBox="0 0 16 16" width="16"><path d="M4 9h1v1h-1c-1.5 0-3-1.69-3-3.5s1.55-3.5 3-3.5h4c1.45 0 3 1.69 3 3.5 0 1.41-0.91 2.72-2 3.25v-1.16c0.58-0.45 1-1.27 1-2.09 0-1.28-1.02-2.5-2-2.5H4c-0.98 0-2 1.22-2 2.5s1 2.5 2 2.5z m9-3h-1v1h1c1 0 2 1.22 2 2.5s-1.02 2.5-2 2.5H9c-0.98 0-2-1.22-2-2.5 0-0.83 0.42-1.64 1-2.09v-1.16c-1.09 0.53-2 1.84-2 3.25 0 1.81 1.55 3.5 3 3.5h4c1.45 0 3-1.69 3-3.5s-1.5-3.5-3-3.5z"></path></svg></a>Features</h2>

    <ul>
      <li>トレーニングの重量、セット数、メモを記録。</li>
      <li>前回のトレーニングからテンプレートを作成可能。</li>
      <li>自動的に最大重量（１REPS)を計算し、記録します。</li>
      <li>自動計算されたBIG3の最大筋力からトレーニングの推移をチャートで確認できます。</li>
      <li>データのバックアップ、リカバリ対応（エクスポート、インポート）</li>
      <li>トレーニング場所ごとの検索機能。 </li>
      <li>種目の追加、変更。</li>
      <li>部位、トレーニングメソッド毎の管理。</li>
    </ul>
  </article>


  <div class="pagination" style="text-align: left;">
    <p>web framework -> ruby / Ruby on Rails 4.2.4
    </p>
    <p>Cloud Paas -> github ... Heroku .... Cloud9
    </p>
    <p>css framework -> bootstrap
    </p>
    <p>icon framework -> Font Awesome 
    </p>
    <hr>
    <p>items -> wikipeia search ... dbpedia & spaql 
    <p>
    <p>equipment -> crud ajax
    </p>
    <p>mode -> search ajax
    </p>
    <p>note -> pagination(will_paginate)
    </p>
    <p>analysis -> LazyHighCharts
    </p>
  </div>
