<div style="text-align: left;">
  <h1 style="font-weight: normal" >開発者について </h1>
</div>
<article>
  <p>年齢：1983年生まれ</P>
  <p>職業：プログラマー</p>
  <p>趣味：プログラム、筋力トレーニング、
  <br>　　　ZUMBA(ラテンダンス風のエクササイズ)</p>
</article>
<article>
  <p>開発者が利用しているサイト:</p>
  &nbsp;<%= link_to "Qiita -開発者のページ" , "http://qiita.com/HideakiSaito" %><br> 
  &nbsp;<%= link_to "GitHub -開発者の公開しているソースコード" ,"https://github.com/HideakiSaito" %><br>
  &nbsp;<%= link_to "Redmine -このアプリケーションの管理システム" ,"https://benkyoukai4app.herokuapp.com/projects/hide1app/agile/board" %><br>
  &nbsp;<%= link_to "heroku -このアプリケーションの実行環境(参考)", " https://www.heroku.com/home" %><br>
</article>
