<div style="text-align: left;">
  <h1 style="font-weight: normal" >開発者について </h1>
</div>
<article>
  <p>年齢：1983年生まれ</P>
  <p>職業：プログラマー</p>
  <p>趣味：プログラム、筋力トレーニング、
  <br>　　　ZUMBA(ラテンダンス風のエクササイズ)</p>
</article>
<article>
  <p>開発者のサイト</p>
  <%= link_to "Qiita" , "http://qiita.com/HideakiSaito" %> 
  <%= link_to "GitHub" ,"https://github.com/HideakiSaito" %>
  <%= link_to "Redmine" ,"https://benkyoukai4app.herokuapp.com/projects/hide1app/agile/board" %>
</article>
