<div style="text-align: left;">
  <h1 style="font-weight: normal" >GIVE UP OR GET UP</h1>
</div>
<%= render "welcome" %>
<div> 直近のページ：<%= @latest_page.date.strftime("%Y/%m/%d(%a)") if @latest_page.id != nil %>
</div>
<% if @latest_page.id != nil %>
  <input type="button" value="直近のページ確認" 
                       class="btn btn-success btn-block"
                       onclick="location.href='<%= page_path(@latest_page.id) %>'" />
<% end %>
   <input type="button" value="新規作成" 
          class="btn btn-primary btn-block"
          onclick="location.href='<%= new_page_path  %>'" />
