<div  style="text-align: center">
  <h1 style="font-weight: normal">トレーニングノート</h1>
  <div class="pagination" style="text-align: center";">
    <p>web framework -> ruby / Ruby on Rails 4.2.4
    </p>
    <p>Cloud Paas -> github ... Heroku .... Cloud9
    </p>
    <p>css framework -> bootstrap
    </p>
    <p>icon framework -> Font Awesome 
    </p>
    <hr>
    <p>items -> wikipeia search ... dbpedia & spaql 
    <p>
    <p>equipment -> crud ajax
    </p>
    <p>mode -> search ajax
    </p>
    <p>note -> pagination(will_paginate)
    </p>
    <p>analysis -> LazyHighCharts
    </p>
  </div>
  <div>
  Last update 2016/02/02 &copy; HidakiSaito
 <div>
</div>
