<div  style="text-align: center">
  <h1 style="font-weight: normal">トレーニングノート</h1>
  <img src="/images/bodyicongreen.png" width="15%" height="15%">
</div>

<p>
 TODO:新規ページを作る際に過去のデータからコピーしてくる。<br>
 TODO:コピーされたrトレーニングのREPSはクリアして、メモ欄に転記する。
</>
<p>
 2015/12/13 views/trainings/index にアドバイスメモを追加。メモの機能を検討する。
 </p>
 <p>
 2015/12/07 controlles/trainings... にユータ先生に教えてもらった配列のサンプルメソッドちょっと追加した。 
 </p>
 <p>
 2015/12/05 controlles/welcome... にwikipediaにアクセスするコードを追加。Sparqlちょっと書いた。
</p>

<h2>Note</h2>
<p>
<input type="button" value="記録する" class="btn btn-primary" onclick="location.href='/pages'" />    
<input type="button" value="マスタ管理" class="btn btn-warning"  onclick="location.href='/items'" />
<%= link_to "pages",pages_path %>
&nbsp;|&nbsp;
<%= link_to "lines",lines_path %>
</p>
