<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tip_category.name %>
</p>

<%= link_to 'Edit', edit_tip_category_path(@tip_category) %> |
<%= link_to 'Back', tip_categories_path %>
