<p class="vote">
<% if current_user && !current_user.food_votable_for?(food) %>
  <%= link_to "ðŸ”ºã„ã„ã­!", [:like , food ], method: :patch, class: "btn btn-primary" %>
<% else %>
  <%= link_to "ðŸ”»ã¨ã‚Šã‘ã—", [:unlike , food ], method: :patch, class: "btn btn-danger" %>
    you likedâ™¥
<% end %>
</p>
