<p id="notice"><%= notice %></p>

<p>
  <strong>名称:</strong>
  <%= @tip_category.name %>
</p>

<%= link_to 'Edit', edit_admin_tip_category_path(@tip_category) %> |
<%= link_to 'Back', admin_tip_categories_path %>
