<tr>
  <td><%= part.name %></td>
  <td><%= link_to 'Show', admin_part_path(part) %></td>
  <td><%= link_to 'Edit', edit_admin_part_path(part) %></td>
  <td><%= link_to 'Destroy', admin_part_path(part), method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
