<p id="notice"><%= notice %></p>

<h1>トレーニング部位一覧</h1>
<input type="search" placeholder="change on search" id="search" />
<a href="http://www.upty.jp/railsandajax-2-create-sample-ajax/">ajax参考サイト</a>
<table class="table table-striped"
       style="text-align: right; width: 100%;">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parts.each do |part| %>
      <%= render("tr", part: part) %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Part', new_admin_part_path %>

<%= link_to '管理ページに戻る', admin_top_path %>
