// Place all the styles related to the analysis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.mini-size{
 font-size:8pt;
 margin-bottom:8px;
 margin-top:8px;
}
.hundred{
  width:100%;
}
