// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media screen and (max-width: 768px) {
  /* 表示領域が768px以下の場合に適用するスタイル */
  div.note-index {
    border-collapse: collapse;
    border-style:dotted; 
    border-width: 1px;
    height:auto;
  }
}
@media screen and (min-width: 769px) {
  /* 表示領域が769px以上の場合に適用するスタイル */
  div.note-index { 
    border-collapse: collapse;
    border-style:dotted; 
    border-width: 1px;
    /* height:0; */
    height:auto;
  }
}
div.training-line {
  overflow: scroll;   /* スクロール表示 */ 
  /*height: 20em;*/
}
div.diet-line {
  overflow: scroll;   /* スクロール表示 */ 
 /* height: 10em;*/
}
.diet-memo{
  width:100%;
}
.nutrition{
  width:5em;
}

